services:
  backend_app:
    build: ./backend
    container_name: neurondoc_backend 
    restart: always
    ports: 
      - "8000:8000"
    working_dir: /app
    networks:
      - app_network

  backend_tests:
    build: ./backend
    container_name: neurondoc_backend_tests
    working_dir: /app
    command: ["poetry", "run", "pytest", "-vv"]
    networks:
      - app_network

networks:
  app_network:
    driver: bridge