services:
  backend_app:
    build: ./backend
    env_file:
      - .env
    container_name: neurondoc_backend 
    restart: always
    ports: 
      - "8000:8000"
    working_dir: /app
    networks:
      - app_network

  backend_tests:
    build: ./backend
    env_file:
      - .env
    container_name: neurondoc_backend_tests
    working_dir: /app
    command: ["poetry", "run", "pytest", "-vv"]
    networks:
      - app_network

  backend_db:
    image: postgres:15
    env_file:
      - .env
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data


networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: