services:
  backend_app:
    build: ./backend
    container_name: neurondoc_backend 
    restart: always
    env_file:
      - .env
    environment:
      DB_HOST: backend_db 
    ports: 
      - "8000:8000"
    working_dir: /app
    depends_on:
      - backend_db
    entrypoint: ["backend_scripts/entrypoint.sh"]
    networks:
      - app_network

  backend_tests:
    build: ./backend
    container_name: neurondoc_backend_tests
    working_dir: /app
    env_file:
      - .env
    environment:
      DB_HOST: backend_test_db 
    depends_on:
      - backend_test_db
    entrypoint: ["backend_scripts/test_entrypoint.sh"]
    networks:
      - app_network

  backend_db:
    image: postgres:15
    env_file:
      - .env
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend_test_db:
    image: postgres:15
    container_name: backend_test_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"   
    networks:
      - app_network
    volumes:
      - postgres_test_data:/var/lib/postgresql/data


networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  postgres_test_data: