name: lint_backend

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev, main]

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-root

      - name: Run Pylint
        run: |
          cd backend
          poetry run pylint main.py